/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;
$primary: #1C30A3;
$secondary: #5e5e5e;
$border: rgba($secondary, 0.2);
$gray: rgba($primary, 0.1);
$accent: #1C30A3;
